body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: url(https://png.pngtree.com/thumb_back/fh260/background/20210408/pngtree-white-abstract-vector-web-background-design-image_597636.jpg);
    background-size: cover;
}
/*.box{
  width:300px;
  padding:30px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align:center;
}*/
.box h1
{
    color: black;
    text-transform: uppercase;
    font-weight: 1000;
    text-align: center;
}